.carousel [data-twe-carousel-item]::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}

.carousel [data-twe-carousel-item] img,
.carousel [data-twe-carousel-item] div {

    z-index: 15;
}

.carousel [data-twe-carousel-indicators] {
    z-index: 20;
}

.header [data-twe-navbar-ref] [data-twe-nav-link-ref] {
    position: relative;
}

.header [data-twe-navbar-ref] [data-twe-nav-link-ref]::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 7%;
    width: 0%;
    height: 3px;
    background: green;
    /* margin: 0 auto; */
    transition: all 0.5s;
}


.header [data-twe-navbar-ref] [data-twe-nav-link-ref]:hover::after {
    width: 90%;
    /* margin: 0 auto; */
    transition: all 0.5s;
}

a.active {
    border-bottom: 3px solid green !important;
    padding-bottom: 2px !important;
}

.projects .products [data-twe-nav-active] {
    color: #fff !important;
}

.projects .item {
    cursor: pointer;
}

.projects .item:hover .card-content h5,
.projects .item:hover .card-content p {
    color: #15ee6c;
    transition: all 0.5s;
}

.projects .item:hover .card-content {
    border-color: #15ee6c;
    transition: all 0.5s;
}

.projects .item>div {
    animation: display-zoom 0.5s;
}

.available {
    position: relative;
    background-image: url(../img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 110px;
    z-index: 1;
}

.available .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7,10,12,.72);
    z-index: 2;
}

.available .container {
    max-width: 1140px;
    margin: auto;
    position: relative;
    z-index: 3;
}

.available .container .card_item {
    width: 30%;
    height: 50%;
    margin-right: 25px;
    opacity: 0.5;
    transition: all 1s;
}

.available .container .card_item .overlay_item {
    background-color: gray;
}

.available .container .card_item:hover .text {
    background: #000;
}

.available .container .card_item .text  {
    padding: 40px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px);
    transition: all .5s;
}

.available .container .card_item:hover .text {
    background-color: black;
    border: 1px solid white;
}

.available .container .card_item .text p  {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.available .container .card_item .text h3  {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}


.available .container .row {
    display: flex;
    flex-wrap: wrap;
}

.award {
    position: relative;
    color: #585858;
    padding: 70px 0;
}

.award .award_bg {
    background-image: url(../img/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.award .container .image img {
    width: 20%;
}

.award .container .right {
    background: rgba(255, 255, 255, .25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    padding: 45px;
    margin-right: 30px;
}

.award .container .row-left {
    width: 55%;
}

.award .container .row-left .award_left h1 {
    font-size: 40px;
    font-weight: bold;
}

@keyframes display-zoom {
    0% {
        transform: scale(0, 0);
    }

    /* 33% {
        transform: scale(2,2);       
    } */
    100% {
        transform: scale(1, 1);
    }

}